.profile {
  background-color: #fff;
  width: 276px;
  border-radius: 7px;
  box-shadow: 0 0 6px 0 #adacac;
}
.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 34px 8px;
}

.avatar {
  border-radius: 100%;
  width: 120px;
}

.name {
  font-size: 20px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
  margin-top: 24px;
}

.tag {
  color: #888888;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}

.location {
  color: #888888;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}

.stats {
  border-top: 1px solid #e4e9f0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.stats > li {
  border-right: 3px solid #e4e9f0;
  width: 33%;
  text-align: center;
  padding: 18px 5px;
}
.stats > li:last-child {
  border-right: 0px solid;
}

.label {
  color: #768696;
  display: block;
  font-size: 14px;
  padding-bottom: 2px;
}

.quantity {
  font-weight: bold;
  font-size: 17px;
}
