.friendList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.item {
  background-color: #fff;
  width: 276px;
  border-radius: 7px;
  box-shadow: 0 0 6px 0 #adacac;
  display: flex;
  align-items: center;
  padding: 8px 14px;
  margin: 10px 0;
}

.status,
.active,
.noActive {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.active {
  background-color: green;
}
.noActive {
  background-color: red;
}

.avatar {
  height: 80px;
  width: 80px;
  /* background: gray; */
  border-radius: 10px;
  margin: 0 14px;
}

.name {
  font-weight: bold;
  font-size: 22px;
}
